@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:black;
    background: url(assets/pexels-aaron-burden-2449543.jpg) no-repeat center center;
    background-size: 135% ;
  }

  .search{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  input, button{
    padding: 0.8rem 1rem;
    margin-left: 10px;
    font-size: 1rem;
    background: rgba(255,255,255);
    border:none;
    border-radius: 12px;
  }

  button:hover{
    background-color:rgb(247, 145, 28) ;
    color:white;
  }
  .search input{
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border:1px solid rgba(255,255,255,0.9);
    background: rgba(255,255,255, 0.1);
    color:white;
    outline: none;
    
  }
  