@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url(assets/pexels-aaron-burden-2449543.jpg) no-repeat center center/cover;
  }

  .result{
    display: flex;
    min-height: 10vh;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    margin-bottom: 1rem;
  }
  .border{
    border: 1px solid black;
  }

  ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  li{

    text-align: center;
    font-size: .8rem;
    
  }
  h2{
 
    font-size: .9rem;
  }

  li img{
    width: 40px;
    height: 40px;
    
  }
